/* 
### Primary

- Strong cyan: hsl(172, 67%, 45%)

### Neutral

- Very dark cyan: hsl(183, 100%, 15%)fdsf
- Dark grayish cyan: hsl(186, 14%, 43%)fdsfsd
- Grayish cyan: hsl(184, 14%, 56%)gfdgfd
- Light grayish cyan: hsl(185, 41%, 84%)gfdgfd
- Very light grayish cyan: hsl(189, 41%, 97%)
- White: hsl(0, 0%, 100%)

## Typography

### Body Copy

- Font size (form inputs): 24px

### Font

- Family: [Space Mono](https://fonts.google.com/specimen/Space+Mono)
- Weights: 700 */

body{
      font-family: monospace;
      background-color: hsl(185, 41%, 84%);
}
.mainBox{
      border-radius: 20px;
      width: 50%;
      height: 50%;
      background-color: hsl(0, 0%, 100%);
}
.dataInsertionBox{
      width: 45%;
      height: 90%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* FAZER AS CLASSES DE SELEÇÃO DOS BOTÕES */

.tipButton{
      background-color: hsl(183, 100%, 15%);
      border: none;
      border-radius: 7px;
      color: white;
      font-weight: bold;
      font-size: 24px;
}
/* INPUTCUSTOM */

.customInput:focus{
      outline: 0;
      border: 2px solid hsl(172, 67%, 45%);
      border-radius: 5px;
}

.customInput{
      background-color: hsl(189, 41%, 97%);
      border: none;
      border-radius: 7px;
      color: white;
      font-weight: bold;
      font-size: 24px;
      color: hsl(183, 100%, 15%);
}


.customInput:hover{
      cursor: pointer;
      color: hsl(183, 100%, 15%);
}

/* INPUTCUSTOM */

.selectedButton{
      background-color:hsl(172, 67%, 45%);
}



.tipButton:hover{
      background-color:hsl(172, 59%, 79%);   /* hgkjhgkjkhgjhg */
      cursor: pointer;
      color: hsl(183, 100%, 15%);
}

.billInput{
      background-image: url(../images/icon-dollar.svg);
      background-repeat: no-repeat;
      background-position: left;
      background-size: 0.5em;
      padding-left: 1.3em;
      border: hidden;
      background-color: hsl(189, 41%, 97%);
      font-size: 24px;
      font-weight: bold;
      color: hsl(183, 100%, 15%);
}



.billInput:focus, .peopleInput:focus, .tipInput:focus{
      outline: 0;
      border: 2px solid hsl(172, 67%, 45%);
      border-radius: 5px;
}

.h-70{
      height: 70%;
}

.w-30{
      width: 30%;
}

.peopleInput{
      background-image: url(../images/icon-person.svg);
      background-repeat: no-repeat;
      background-position: left;
      background-size: 0.8em;
      padding-left: 1.3em;
      border: none;
      background-color: hsl(189, 41%, 97%);
      font-size: 24px;
      color: hsl(183, 100%, 15%);
      font-weight: bold;
}

.simpleText{
      font-size: 15px;
      color: hsl(186, 14%, 43%);
      font-weight: bold;
}

.cantBeZeroText{
      display: none;
      font-size: 15px;
      color: rgb(250, 116, 6);
      font-weight: bold;
}

.dataDisplayBox{
      border-radius: 15px;
      background-color: hsl(183, 100%, 15%);
      width: 45%;
      height: 90%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
}

.textDisplay{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      margin: 25px;
}


.tipBox{
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
}


.tipText{
      display: flex;
      flex-direction: column;
      justify-content: center;
}

.primaryText{
      color: white;
      margin: 0px;
}

.secondaryText{
      color: hsl(186, 14%, 43%);
      font-size: 12px;
      margin: 0px;
}

.moneyPerson{
      font-size: 35px;
      color: hsl(172, 67%, 45%);
      font-weight: bold;
}

.resetButton{
      background-color: hsl(172, 67%, 45%);
      width: 75%;
      height: 12%;
      align-self: center;
      border: none;
      border-radius: 5px;
      font-weight: bold;
      color: hsl(183, 100%, 15%);
}

.resetButton:hover{
      background-color: hsl(172, 59%, 79%);
}

